.home {
  margin-top:-20vh;
  padding-bottom:40vh;
  background-color: #0D3B40;
}

.home>div>div {
  margin-top:20vh;
  z-index: 5;
}

/********** portfolio text animation **********/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.animated-header {
    padding-left: 28px;
    animation-name: fadeIn, fadeOut;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 4;
    animation-direction: alternate;
}
/********************************************/
/************** navbar styling **************/
#navbar {
  transition: top 0.3s;
  padding: 0;
}
#navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
#navbar li {
  position: relative;
  padding: 10px 0 0px 28px;
}
#navbar a  {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 17px;
  color: #F0C5EE;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

/* for active line below navbar */
#navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #34b7a7;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

#navbar a:hover:before, #navbar li:hover > a:before, #navbar .active:before {
  visibility: visible;
  width: 25px;
}
#navbar .active, #navbar .active:focus > a {
  color: white;
}

/* .fixed and .content used by navbar.js to create fixed navbar */
.fixed{
  position: fixed;
  top: 2%;
  z-index: 2;
}
/********************************************/
/***********Scroll Arrow Animation***********/
@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

#scrollArrowBtn {
  animation: moveUp, moveDown 2s ease-in-out infinite alternate;
  color: white;
  position: fixed;
  margin-left: 45%;
  margin-top: 44%;
  top: 2%;
  z-index: 2;
  opacity: .8;
}
#scrollArrow {
  margin-left: 45%;
}

.invisible {
  opacity: 0;
  transition: opacity 0.1s ease;
}
/********************************************/
body {
  overflow-x: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #136570;
  color: #F0C5EE;
}

p{
  max-width: 100vw;
  max-height: 100vh;
}

#about{
  height: 100vh;
}

/*************Wave SVG Animation*************/
.wave-transition{
  margin-top: -20vh;
  transform: scaleY(150%);
  position: relative;
}

#wave1, #wave2, #wave3 {
    transition: all 1s ease;
    transform: translateX(-20%);
}


.wave-transition:hover #wave1{
    
    transition: all 20s ease;
    transform: translateX(0%);
}

.wave-transition:hover #wave2{
    
    transition: all 11s ease;
    transform: translateX(-40%);
}

.wave-transition:hover #wave3{
    transition: all 17s ease;
    transform: translateX(-10%);
} 

/********************************************/

.svg-text{
    margin-top: -30em;
}

.page-header{
    position: absolute;
    width: fit-content;
    font-size: 5em;
}

#about-header {
  margin-left:10%;
  background: linear-gradient(180deg, #F0C5EE, #136570); /* Adjust the angle and colors as needed */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For other browsers (without webkit prefix) */
  color: transparent; /* Fallback for browsers that do not support background-clip */
}

#about-text{
  position: relative;
  margin-left: 45%;
  margin-right: 10%;
  width: fit-content;
  font-size: x-large;
  background: linear-gradient(180deg, #F0C5EE, #136570); /* Adjust the angle and colors as needed */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For other browsers (without webkit prefix) */
  color: transparent; /* Fallback for browsers that do not support background-clip */
}


/*************Experience Section*************/
#experience-header{
  margin-top:-5%;
  margin-left:39.2%;
}

#experience{
  height: 100vh;
  color: rgb(255, 255, 255);
}

.styled-table::before {
  content: '';
  position: absolute;
  left: 50%;
  height: 95%;
  width: 4px;
  background: white;
}

.timeline-marker {
  content:"";
  position: absolute;
  font-size: large;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 10px;
  z-index: 1;
  left: 49.6%;
}

.duration {
  font-size: medium;
  text-transform: uppercase;
}

.durationLeft {
  text-align: right;
}

.styled-table{
  font-family: Gotham, Helvetica, Arial, sans-serif;
  padding-top: 2.5%;
  width: 100%;
  
  border-collapse: separate; /* Ensure borders are collapsed */
  border-spacing: 180px 0;
}
.styled-table td{
  border-radius: 20px;
}

.position, .company {
  padding-bottom: .5rem;
}

.position {
  font-size: large;
  text-transform: uppercase;
}

.company {
  font-size: 15px;
  color: rgb(114, 207, 192);
  /* text-transform: uppercase; */
}

.description {
  font-size: medium;
  /* text-transform: uppercase; */
}

.styled-table .shaded {
  border: none;
  padding: 25px;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.288); /* Dark transparent color */
}

.styled-table .hovered {
  background-color: rgba(19, 195, 207, 0.164);
}
.styled-table tr td .hovered{
  background-color: rgb(35, 159, 175);
}


/********************************************/

#skills{
  height: 50vh;

}


/*
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr); /* 2 columns 
  grid-gap: 20px; /* Gap between items 
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  height: 100px; /* Adjust as needed */
  /* writing-mode: vertical-rl; Vertical text */
  /* text-orientation: upright; Ensure text is upright 
}
 */

#resumeBtn {
  padding: 15px;
  width: 100px;
  transition: border 0.3s; /* Add smooth transition for border */
  position: fixed;
  right: 5%;
  top: 5%;
  color: white;
  background-color:#0D3B40;
  border-color: white;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 17px;
  font-weight: 500;
  z-index: 2;
}

#resumeBtn:hover {
  /* background-color:#114a51;  */
  background-color: rgb(35, 159, 175);
}



/* click me button
#resumeBtn{
    background-color:#0D3B40; /* Green 
    position: absolute;
    right: 5%;
    color: white;
    
    border-block-color: white;
    cursor: pointer;
    width: 90px;
    height: 40px;
    padding: 2px 4px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

#resumeBtn:active {
  transform: scale(0.95);
} */

.home> .text-container{
    width: 100vw;
    height: 70vh;
    transform: translate(10%,30%);
}

#sub-blurb {
  transform: translate(10%,-16vh);
  font-size:x-large;
}

.skills-canvas {
  /* width: 50%; */
  margin-left:4.5%;
  border-spacing: 5px;
  background-color: rgba(255, 255, 255, 0.184);
}

.skill-category {
  display: inline-block;
  font-size: xx-large;
  color: white;
  margin-left: 14%;
}

#tech {
  margin-left: 22%;
  
}

#soft {
  margin-left: 24%;
  
}

#projects {
  margin-top: 10%;
  padding-bottom: 20%;
}

#contact {
  margin-top: 20%;
}

#contact .page-header{
  margin-left: 37%;
}

.form {
  position: relative;
  margin-left: 37%;
  padding-top: 10%;
}
/* .contact-box {
  content: '';
  width: 50rem;
  height: 30rem;
  /* background-color: rgba(78, 227, 247, 0.5);
  margin-left: 25%;
  margin-top: 10%;
  position: absolute;
} 
*/


.contact-icon {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding-right: 2%;
}

.icon-wrapper {
  margin-left: 37%;
}

/* @media screen and (min-width: 600px){ */
/* #text {
   padding-left: 100px;
    
  }
} */
/*scaled by screen size: animated text*/
@media screen and (min-width: 600px){
  #text, #dot {
    font-size: 7em;
    
  }
}
@media screen and (max-width: 600px){
  #text, #dot {
    font-size: 3em;
    
  }
}



/*butterfly*/
#animation-container {
    pointer-events: none;
    transform: scale(0.10);
    position: absolute;
    display: none;
    z-index: 2;

}
#dot {
  visibility: hidden;
}
@media screen and (max-width: 600px){
div#text {
    float: left
}
div#dot {
    float: left;
}
}
@media screen and (min-width: 600px){
  div#text {
    float: left
}
  div#dot {
    float: left;
    padding-right: 12%;
}

}



/*image*/

#profile-pic {
  margin-left: -5vh;
  margin-top: 10vh;
  object-fit: cover;
  width: 30vw;
  height: 40vh;
  background-image: url(https://lh3.googleusercontent.com/clUznJxMnYDvOtcUDF9F2wKz6rvEsT0AchRZxsWGWuo8BSGoFy_hb0fpMTKNQ_C3-mELL86Egj0YnKs0lAA5mSeZNflczOvjeL6omw35eiLc-7tCPRLxtMd91KcNWqjrnIQ8il8XA0GXvSKPMAx1-rENaoxqb5hlYplEclZ6rLUd7GAjHlM7ttPbjk-HEXe4wp3djKkKv9RloDtRA2Cut6Aw-djKSX9WI0cb28EvCand6ZgwPmTgZVUNTKvcnsdZj9zdvyzSVGB29RUIWBNjkM_9b1t_2bg5gLorYttpnsCLbTW_JIkCNcWTXeu7xehCzKh9LFdb407i6s-S-nAOxawI1Q9lK67NJ1thvkGvMpBRhJlAoU8EN50oHWwAJgnWfnh8cG3Bqw1OygFTDNp9BaZmE2z3hj3Kb0oWHu0mt-mx9_DYqSFPgIYwR6D348Qt5c_vWPjC8RvPbP6c-JRvO4Sv8nc0poLVH9_O9KY32qSYUXJ7J3aZn4oW-oH3-HHXn0II87IcuCvYKYlZdJn1p0jYObukXXJRab2Bm29zvxdIfVu1kQSSq4rgaT5Co3WSexSFaOEjQv8lV5k9uUYn3mgymr-vg_fZzQg1yx6uge01Z8YxWEFteOQedXBg66eRKUwLck1SYDVvjuVWbUsMvFYEk5MrW43301yZStOWMjBRz6BigYxzDPtoDfWyT7fUeZ6uen9h3rSQbMM4oUVPqEz_Gh2YclPMQg4z-kTwl5cpFbDd3YVx-bsHaee1cv503psdEPYLGQVmrENyAdXUKj9kNg_0j5S8AdQv0A7xcw5lDmdMCVvmQT0Yt7YX8ycovghywehWe5a3Q4nso2XmfJ8HV4QtQAhb6bcyyJXR-nTN9StkFVAEg1W3439giCe1LPxH9i986mtGgGJI_ABymMdWhGr4UUtMpY2qJX6rfKeKJVD5zG9YbFMs2dDujSkEZRkNwR1nnzqW0aH0rQ=w1032-h970-no?authuser=0);
  background-size: cover;
  background-position: center;
  position: absolute;
  display: inline-block;
  border: 10px solid beige;
}

